#help {
    display: flex;
    flex-direction: column;
}

.help-title {
    margin-top: 0;
}

.help-container {
    padding: 1rem;
    z-index: 10;
    height: 100%;
    max-height: 90vh;
    position: absolute;
    overflow-y: scroll;
    opacity: 0.9;
    background-color: #f0f0f0;
    border: solid;
    border-color: #101010;
    border-width: 1px;
    border-radius: 10px;
    line-height: 1rem;
}